<div id="scroll-container">
  <div id="scroll-text">
    <b>F1 NEWS: </b>
    <img class="newsImg" src="../../../../assets/Images/max.jpg" alt="logo" />
    Max Verstappen is the overall leaderthis year with a staggering 341 points.
    Unfortunately,

    <img class="newsImg" src="../../../../assets/Images/sad.jpg" alt="logo" />
    Lewis Hamilton cannot be regarded to be in the same boat. struggle with
    pathetic 170 points. For individuals who are having trouble processing the
    news, a help line has been established. Toll-free number to call now:
    1-800-555-5555. or

    <a href="https://www.verstappen.com/" target="_blank">Click here</a>
  </div>
</div>

<div class="container-fluid customHeight bg1">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img
        src="../../../../assets/Images/motorcar.png"
        class="img-fluid"
        alt="motorcar"
      />
    </div>

    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <div class="card">
        <div class="card-header">
          <h1>Login</h1>
        </div>
        <div class="card-body">
          <div class="form-group mb-2">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Username"
            />
          </div>

          <div class="form-group mb-2">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
          </div>

          <button (click)="login()" type="submit" class="primary-btn login-btn">
            Login
          </button>
        </div>
        <div class="card-footer">
          <a class="me-2" routerLink="/auth/forgotpassword">Forgot Password</a>
          <a routerLink="/auth/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="mt-1 d-flex justify-content-between">
          <p class="text-white me-2">
            {{ today | date: "dd/MM/yyyy" }} {{ time | date: "HH:mm:ss" }}
          </p>
          <p class="text-white">MOTORCAR <b>Powered by CMS</b></p>
        </div>
      </div>
    </div>
  </div>
</footer>
