.customHeight {
  height: calc(100vh - 2rem);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  height: 2rem;
  background-color: var(--color-primary);
}

.login-btn {
  width: 100%;
}

@media (max-width: 767px) {
  .customHeight {
    height: auto;
  }
}

.newsImg {
  height: 2rem;
  width: 2rem;
  border-radius: 3px;
}

#scroll-container {
  height: 2.3rem;
  white-space: nowrap;
  background-color: var (--color-secondary);
  color: var(--color-primary);
  overflow: hidden;
}

#scroll-text {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
