<div class="container customHeight">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <!-- insert img -->
      <img
        src="../../../../assets/Images/motorcar.png"
        class="img-fluid"
        alt="motorcar"
      />
    </div>

    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <div class="card">
        <div class="card-header">
          <h1>Login</h1>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group mb-2">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Username"
              />
            </div>
            <div class="form-group mb-2">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>

            <button type="submit" class="primary-btn login-btn">Login</button>
          </form>
        </div>
        <div class="card-footer">
          <a class="me-2" routerLink="/auth/forgotpassword">Forgot Password</a>
          <a routerLink="/auth/register">Register</a>
        </div>
      </div>
    </div>
  </div>

  <!-- footer with Facebook, twitter icons from fontawesome -->
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="mt-1 d-flex justify-content-between">
          <p class="text-white me-2">
            {{ today | date: "dd/MM/yyyy" }}
          </p>
          <p class="text-white">MOTORCAR <b>Powered by CMS</b></p>
        </div>
      </div>
    </div>
  </div>
</footer>
