<!-- using bootstrap create a forgot password card -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <div class="card">
        <div class="card-header">
          <h1>Forgot Password</h1>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
              />
            </div>
            <button type="submit" class="primary-btn login-btn">
              Send Reset Link
            </button>
          </form>
        </div>
        <div class="card-footer">
          <a routerLink="/auth/login">Login</a>
          <a routerLink="/auth/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
