<!-- forgot password material submit with a notification send -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Forgot Password</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/auth/login">Login</button>
    <button mat-button routerLink="/auth/register">Register</button>
  </mat-card-actions>
</mat-card>
