<div class="container-fluid bg1">
  <div class="row">
    <div class="col-md-6 mt-4">
      <img
        height="10rem"
        src="../../../../assets/Images/forgot.png"
        class="stock-img mt-2"
        alt="motorcar"
      />
    </div>

    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
      <div class="card">
        <div class="card-header">
          <h1>Forgot Password</h1>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
              />
            </div>
            <button
              (click)="reset()"
              type="submit"
              class="secondary-btn login-btn"
            >
              Send Reset Link
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
