.primary-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.secondary-btn {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--color-secondary-dark);
  }
}
