:root {
  /* SCSS RGB */
  --color-danger: rgb(210, 68, 68);
  --color-danger-dark: rgb(180, 58, 58);
  --color-white: #fbfdff;
  --color-black: #0c0c0d;
  --color-primary: #1665cf;
  --color-primary-light: #4d8aff;
  --color-primary-dark: #003c8f;
  --color-secondary: #3a9b6f;
  --color-secondary-light: #6fc19b;
  --color-secondary-dark: #0f6c42;
  --color-tertiary: #f9a825;
  --color-tertiary-light: #ffd655;
  --color-tertiary-dark: #b67400;
  --color-primary-transparent: hsla(214, 81%, 45%, 0.502);
  --color-secondary-transparent: hsla(96, 48%, 61%, 0.502);
  --color-tertiary-transparent: hsla(37, 95%, 56%, 0.502);
}
