:root {
  /* SCSS RGB */
  --color-white: #e0eaf2;
  --color-black: #0c0c0d;
  --color-primary: #1665cf;
  --color-primary-light: #4d8aff;
  --color-primary-dark: #003c8f;
  --color-secondary: #e8eff3;
  --color-secondary-light: #c3f99b;
  --color-secondary-dark: #5f9929;
  --color-tertiary: #f9a825;
  --color-tertiary-light: #ffd655;
  --color-tertiary-dark: #b67400;
  --color-primary-transparent: hsla(214, 81%, 45%, 0.502);
  --color-secondary-transparent: hsla(96, 48%, 61%, 0.502);
  --color-tertiary-transparent: hsla(37, 95%, 56%, 0.502);
}
