ul {
  list-style: none;
}

.mat-table {
  background-color: hsla(0, 0%, 100%, 0.571) !important;
}
table {
  width: 90vw;
  border-collapse: collapse;
  // border-radius: 2em;
}
// table tr:last-child td {
//   border-bottom: 0 solid;
// }
