ul {
  list-style: none;
}

.mat-table {
  background-color: hsla(0, 0%, 100%, 0.571) !important;
}
table {
  width: 90vw;
  border-collapse: collapse;
}

.action-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  width: 2rem;
}

.responsive-table{
  min-width: 500px;
  overflow: auto;
}