<ng-container *ngIf="!carData.length">
  <p class="text-center">No vehicles loaded</p>
</ng-container>

<table
  *ngIf="carData.length > 0"
  mat-table
  [dataSource]="carData"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="RegNo">
    <th mat-header-cell *matHeaderCellDef>RegNo</th>
    <td mat-cell *matCellDef="let car">{{ car.RegNo }}</td>
  </ng-container>

  <ng-container matColumnDef="Make">
    <th mat-header-cell *matHeaderCellDef>Make</th>
    <td mat-cell *matCellDef="let car">{{ car.Make }}</td>
  </ng-container>

  <ng-container matColumnDef="Model">
    <th mat-header-cell *matHeaderCellDef>Model</th>
    <td mat-cell *matCellDef="let car">{{ car.Model }}</td>
  </ng-container>

  <ng-container matColumnDef="ModelYear">
    <th mat-header-cell *matHeaderCellDef>ModelYear</th>
    <td mat-cell *matCellDef="let car">{{ car.ModelYear }}</td>
  </ng-container>

  <ng-container matColumnDef="Kilometers">
    <th mat-header-cell *matHeaderCellDef>Kilometers</th>
    <td mat-cell *matCellDef="let car">{{ car.Kilometers }}</td>
  </ng-container>

  <ng-container matColumnDef="Colour">
    <th mat-header-cell *matHeaderCellDef>Colour</th>
    <td mat-cell *matCellDef="let car">{{ car.Colour }}</td>
  </ng-container>

  <ng-container matColumnDef="VIN">
    <th mat-header-cell *matHeaderCellDef>VIN</th>
    <td mat-cell *matCellDef="let car">{{ car.VIN }}</td>
  </ng-container>

  <ng-container matColumnDef="RetailPrice">
    <th mat-header-cell *matHeaderCellDef>RetailPrice</th>
    <td mat-cell *matCellDef="let car">{{ car.RetailPrice }}</td>
  </ng-container>

  <ng-container matColumnDef="CostPrice">
    <th mat-header-cell *matHeaderCellDef>CostPrice</th>
    <td mat-cell *matCellDef="let car">{{ car.CostPrice }}</td>
  </ng-container>

  <ng-container matColumnDef="Accessories">
    <th mat-header-cell *matHeaderCellDef>Accessories</th>

    <td mat-cell *matCellDef="let car">
      <ul>
        <li *ngFor="let accessory of car.Accessories">
          {{ accessory.name }} - {{ accessory.description }}
        </li>
      </ul>
    </td></ng-container
  >

  <ng-container matColumnDef="images">
    <th mat-header-cell *matHeaderCellDef>Images</th>

    <td mat-cell *matCellDef="let car">
      <ul>
        <li *ngFor="let image of car.images">
          <img
            width="50"
            class="image-fluid"
            [src]="image.src"
            alt="car image"
          />
        </li>
      </ul>
    </td>
  </ng-container>

  <ng-container matColumnDef="DateCreated">
    <th mat-header-cell *matHeaderCellDef>DateCreated</th>

    <td mat-cell *matCellDef="let car">
      {{ car.DateCreated | date: "shortDate" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="DateUpdated">
    <th mat-header-cell *matHeaderCellDef>DateUpdated</th>

    <td mat-cell *matCellDef="let car">
      {{ car.DateUpdated | date: "shortDate" }}
    </td></ng-container
  >

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let car">
      <button mat-icon-button (click)="viewEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(car)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
