.dropzone {
  border: 2px dashed var(--color-primary);
  border-radius: 5px;
  background: white;
  min-height: 60px;
  padding: 30px 30px;
  text-align: center;
  color: var(--color-primary);
}

.dz-message {
  margin: 2em 0;
}

.edit-img {
  height: 10rem;
  width: auto;
  border-radius: 3px;
}

.back-btn {
  width: 10rem !important;
}
button {
  width: 100%;
}
