<div class="container-fluid bg1 mt-4">
  <button
    (click)="back()"
    class="mb-5 btn primary-btn w-25 float-start back-btn"
    type="button"
  >
    Back
  </button>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h1>Edit : {{ vehicle.Make }}</h1>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="registration">Registration Number</label>
                  <input
                    [value]="vehicle.RegNo"
                    type="text"
                    class="form-control"
                    placeholder="Registration"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="make">Make</label>
                  <input
                    [value]="vehicle.Make"
                    type="text"
                    class="form-control"
                    placeholder="Make"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-2">
                  <label for="model">Model</label>
                  <input
                    [value]="vehicle.Model"
                    type="text"
                    class="form-control"
                    placeholder="Model"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="modelYear">Model Year</label>
                  <input
                    [value]="vehicle.ModelYear"
                    type="text"
                    class="form-control"
                    placeholder="Model Year"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="kilometers">Kilometers</label>
                  <input
                    [value]="vehicle.Kilometers"
                    type="text"
                    class="form-control"
                    placeholder="Kilometers"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="colour">Colour</label>
                  <input
                    [value]="vehicle.Colour"
                    type="text"
                    class="form-control"
                    placeholder="Colour"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="vin">VIN</label>
                  <input
                    [value]="vehicle.VIN"
                    type="text"
                    class="form-control"
                    placeholder="VIN"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="retailPrice">Retail Price</label>
                  <input
                    [value]="vehicle.RetailPrice"
                    type="text"
                    class="form-control"
                    placeholder="Retail Price"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="costPrice">Cost Price</label>
                  <input
                    [value]="vehicle.CostPrice"
                    value="123"
                    type="text"
                    class="form-control"
                    placeholder="Cost Price"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <label for="accessories">Accessories</label>

                  <input
                    [value]="vehicle.Accessories[0].name"
                    value="Air Conditioning"
                    type="text"
                    class="form-control"
                    placeholder="Accessories"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-2">
                  <img
                    class="img-fluid edit-img"
                    [src]="vehicle.images[0].src"
                    alt="BMW X5"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <button
                  (click)="save()"
                  type="submit"
                  class="mt-3 btn secondary-btn w-50"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
