<!-- material register page, email, password submit -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Register</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/auth/login">Login</button>
    <button mat-button routerLink="/auth/forgotpassword">
      Forgot Password
    </button>
  </mat-card-actions>
</mat-card>
